@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<span class="glyphicon glyphicon-info-sign" style="color:red">Erro ao realizar o login</span>
<br />
<br />
<button class="btn btn-primary" onclick="location='../Home/Index'">Voltar</button>