<script>
    $(document).ready(function () {
        var usuarioLogado = "@Session["usuarioLogado"]";
        if (usuarioLogado == "")
            $("#btnModalLogin").click();
        else {
            $("#conteudo").load("../Home/Redirecionar");
        }
    })

    function Logar() {
        if ($("#txtLogin").val() == "" || $("#txtSenha").val() == "") {
            alert("Login e Senha são obrigatórios!");
        } else {
            $("#fecharLogin").click();
            $("#conteudo").load("../Home/Logar?login=" + $("#txtLogin").val() + "&senha=" + $("#txtSenha").val());
        }
    }
</script>

<div id="conteudo">

</div>

<button id="btnModalLogin" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalLogin" style="display:none;">Open Modal</button>

<!-- Modal -->
<div id="modalLogin" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label>Login</label>
                        <input type="text" class="form-control" id="txtLogin" />
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Senha</label>
                        <input type="password" class="form-control" id="txtSenha" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6" style="padding-left:73%">
                        <button class="btn btn-primary" onclick="Logar()">Logar</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="fecharLogin" style="display:none;" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>