
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<div>
    <form id="formAdd">
        <div class="row">
            <div class="col-md-4">
                <label>Nome do Perfil</label>
                <input type="text" id="vNomePerfil" class="form-control" value="@Model.nomePerfil"/>
                <input type="hidden" id="vIdPerfil" value="@Model.idPerfil" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="submit" class="btn btn-primary" value="Atualizar" />
            </div>
        </div>
    </form>
</div>

<script>
    $("#formAdd").on("submit", function (e) {
        e.preventDefault();
        $.ajax({
            url: "../Perfil/Edit",
            type: "POST",
            data: {
                "vPerfil.nomePerfil": $("#vNomePerfil").val(),
                "vPerfil.idPerfil": $("#vIdPerfil").val()
            },
            async: false,
            success: function (data) {
                if (data == "True") {
                    alert("Cadastro Atualizado");
                    $("#btnModal").click();
                    location.reload();
                } else {
                    alert("Erro ao Atualizar");
                }
            }
        });
    });
</script>